@import "antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#about-button {
  opacity: 0.5;
}
#about-button:hover {
  opacity: 1;
}

#logo {
  opacity: 0.8;
}
#logo:hover {
  opacity: 1;
}

.product-card-row {
  padding: 12px;
  opacity: 50%
}
.product-card-row-active, .product-card-row:hover {
  opacity: 100%
}

.product-card {
  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,0.0);
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.04);
  border-radius: 15px;
}

.product-card-active, .product-card:hover {
  border-top-color: rgba(0,0,0,0.025);
  background-color: rgba(255,255,255,1);
}

.add-to-cart-button, .add-to-cart-button:hover, .add-to-cart-button:focus {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  font-size: 13px;
  width: 110px;
  height: 23px;
  background-color: #FFD814;
  border-color: #D5D9D9;
  color: #000000;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}

.add-to-cart-button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.open-cart-button, .open-cart-button:hover, .open-cart-button:focus {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  font-size: 13px;
  width: 75px;
  height: 30px;
  background-color: #ffe149;
  border-color: #FFD814;
  color: #000000;
  border-radius: 10px 10px 10px 30px;
  border-width: 1px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}

.open-cart-button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.back-button, .back-button:hover, .back-button:focus {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  font-size: 13px;
  width: 35px;
  height: 30px;
  background-color: #ffe149;
  border-width: 0;
  color: rgba(0,0,0,0.4);
  border-radius: 30px 0 0 30px;
}

.back-button:hover {
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);
  background-color: #F7CA00;
  border-color: #ffe149;
}

.back-button:disabled, .back-button:disabled:hover  {
  background-color: #ffe149;
  border-color: #ffe149;
  color: rgba(0,0,0,0.2);
}
.back-button:disabled:hover {
  color: rgba(0,0,0,0.05);
}

.continue-button, .continue-button:hover, .continue-button:focus {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  font-size: 13px;
  font-weight: 500;
  width: 145px;
  height: 30px;
  background-color: #ffe149;
  border-color: #ffe149;
  border-left-style: none;
  color: #000000;
  border-radius: 0 30px 30px 0;
  border-width: 1px;
}

.continue-button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.amazon-checkout-button, .amazon-checkout-button:hover, .amazon-checkout-button:focus {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 1px 0;
  font-size: 14px;
  font-weight: 500;
  width: 210px;
  height: 32px;
  background-color: #FFD814;
  border-color: #D5D9D9;
  color: #000000;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}

.amazon-checkout-button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.remove-from-cart-button, .remove-from-cart-button:hover, .remove-from-cart-button:focus {
  margin-left: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.remove-from-cart-button:hover {
  color: rgba(0, 0, 0, 0.7);
}

.quantity-button, .quantity-button:hover, .quantity-button:focus {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 7px 1px 8px;
  font-size: 10px;
  width: 55px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #D5D9D9;
  color: #000000;
  border-radius: 20px 20px 20px 20px;
  border-width: 1px;
  /*box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);*/
}

.quantity-button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

#footer-text {
  opacity: 0.5;
}
#footer-text:hover {
  opacity: 1;
}
